.admin-confirm-detail {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-confirm-detail section {
  width: 90%;
  padding: 10px 0;
}

.reg-title {
  display: flex;
}

.input-group {
  width: 100%;

  display: flex;
  padding: 10px 10px;
}
.input-group div:first-child {
  width: 180px;
}
.input-group div:last-child {
  width: 100%;
}
.input-group input,
.input-group select {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

select:focus {
  outline: none;
}

.btn-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
