.admin-policy {
}
/* 테이블 시작 */
.admin-policy table {
  width: 100%;
  margin: 40px 0;
}

.admin-policy thead {
  background-color: #5a7087;
  color: white;
}

.admin-policy thead td {
  padding: 10px 0;
  text-align: center;
}

.admin-policy tbody tr {
  border-bottom: 1px solid lightgray;
}
.admin-policy tbody td {
  position: relative;
  padding: 10px 0;
  text-align: center;
  vertical-align: center;
}
.admin-policy input {
  width: 100%;
  border: 1px solid lightgray;
  padding: 5px 10px;
}
.admin-policy .title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  font-weight: 600;
  font-size: 28px;
}

.admin-policy .edit-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 0 5px;
}

/* 테이블 끝 */

.save-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.admin-policy .remark-container {
  padding: 10px 0;
}
