.admin-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-profile section {
  width: 1024px;
  padding: 20px 0;
}
.reg-title {
  display: flex;
}

.input-group {
  position: relative;
  display: flex;
  padding: 10px 10px;
}
.input-group .abs-btn:nth-child(2) {
  position: absolute;
  right: 0;
  transform: translateY(-100px);
}
.input-group div:first-child {
  width: 180px;
}
.input-group input,
.input-group select {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

select:focus {
  outline: none;
}

.btn-container {
  width: 100%;
  padding: 20px 0;
  display: flex;

  justify-content: center;
}

.radio-container-span {
  width: 200px;
  display: flex;
  justify-content: center;
}
.radio-container-span input {
  width: 20px;
  margin-right: 5px;
}

.auth-group {
  display: flex;
}
.admin-profile .input-auth {
  width: 200px;
  transform: translateX(-26px);
}
.auth-group > button {
  background-color: #00398f;
  color: white;
  padding: 4px 18px;
  border-radius: 6px;
}

.admin-profile .error-style {
  color: tomato;
  transform: translateX(10px);
}
