.all-pass {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
.all-pass div {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  gap: 4px;
}
