.button-custom button {
  background-color: #0066ff;
  color: white;
  transition: all 0.4s;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.button-custom button img:first-child {
  margin-right: 3px;
  /* transform: translateX(-1px); */
}
/* .button-custom button img:last-child {
  margin-left: 1px;
  transform: translateX(3px);
} */

.button-custom button:hover {
  background-color: #003cff;
}
