.item-group {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  gap: 20px;
}
.item-group:hover {
  background-color: lightgray;
}

.item-group > div:first-child {
  display: flex;
}

.icon-group img {
  width: 18px;
  height: 18px;
  margin: 3px;
  cursor: pointer;
}

.item-group > .edit-delete {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.item-group > .edit-delete div {
  cursor: pointer;
}

.edit-delete .edit-delete__btn {
  display: flex;
}
