.search-date {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.search-date span {
  font-weight: 600;
  margin-right: 10px;
}
.divider {
  padding: 0 8px;
}

.date-picker {
  border: 1px solid lightgray;
  padding: 4px 10px;
  width: 150px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}
.search-date select {
  width: 150px;
  border: 1px solid lightgray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 4px;
}

.large-datepicker {
  font-size: 28px;
  width: 200px;
}
